# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
# dist/  # Commenting this out to include the executable
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
